#image: Visual Studio 2019
init:
- ps: Write-Host $env:APPVEYOR_BUILD_WORKER_IMAGE
- ps: Write-Host $env:APPVEYOR_BUILD_WORKER_CLOUD
install:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
test_script:
#- ps: "Restart-Service docker"
- ps: .\test.ps1

build: off

#on_failure:
#- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
